@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<TankCard Vehicle=@Vehicle></TankCard>


@code {
    public Vehicle? Vehicle { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // TODO: setup timer to call API

        Vehicle = new Vehicle {
            Id = 27425,
            Name = "TL-7-120",
            Nation = "usa",
            Tier = "IX",
            Type = "heavyTank",
            IsPremium = true,
            IsCollectible = true,
            ImageUrl = "https://glossary-eu-static.gcdn.co/icons/wotb/10.4.0.391/uploaded/vehicles/hd/A146_TL_7_120.png",
            PreviewImageUrl = "https://glossary-eu-static.gcdn.co/icons/wotb/10.4.0.391/uploaded/vehicles/hd_thumbnail/A146_TL_7_120.png"
        };
    }
}