@page "/"
@inject HttpClient Http;

<PageTitle>Auction WOT Blitz</PageTitle>

<h1>Hello, world!</h1>

@if(Auction != null && Auction.AuctionItems != null && Auction.AuctionItems.Length > 0) {
    @foreach(var auctionItem in Auction.AuctionItems.Where(i => i.Available && i.CurrentCount > 0)) {
        <p>@auctionItem.Vehicle!.Name</p>
    }
}

<TankCard Vehicle=@Vehicle></TankCard>


@code {
    public Vehicle? Vehicle { get; set; }

    public AuctionResponse? Auction { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // TODO: setup timer to call API
        Auction = await Http.GetAuctionData();

    }
}